<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <title>{{ title }}</title>
</head>
<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/" class="nav-logo">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" />
            </a>
            <nav class="nav-links">
                {% set pages = [("Home", "/"), ("Work", "/work"), ("Education", "/education"), ("Hobbies", "/hobbies"), ("Map", "/locations")] %}
                {% for name, link in pages %}
                    <a href="{{ link }}">{{ name }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>

    <main class="main-content">
        <section class="profile">
            <div class="profile-picture">
                <img src="{{ url_for('static', filename='img/Jon.jpg') }}" alt="Profile Picture" />
            </div>
            <h1>{{ title }}</h1>
        </section>

        <section class="about-me">
            <h2>About Me</h2>
            <p>
                I’m a developer, MLH Fellow, and creative thinker who loves anime, gaming, and coding interesting tools.
                I enjoy building things from scratch and collaborating with awesome teams.
                <strong>EDIT: RETESTING DEPLOYMENT FOR MID_CHECK!</strong>
            </p>
        </section>

        {% block content %}{% endblock %}
    </main>
</body>
</html>
